# =============================================================================
# Client Frontend - app.intentmatics.com
# =============================================================================

NEXT_PUBLIC_APP_NAME=Intentmatics
NEXT_PUBLIC_APP_URL=https://app.intentmatics.com
NEXT_PUBLIC_API_URL=https://api.quoreb2b.com/api/v1
NEXT_PUBLIC_SOCKET_URL=https://api.quoreb2b.com
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
